:root{
  --kursiv-text: 'Bickham-Script-One';
  --main-font: 'Prata-Regular';
  --background-color:  #F7F0E6;
  --kursiv-color: #C2837D;
  --button-color: #B4B4B4;
  --bg-color: #FCFCFC;
  --color-text: #B98990;
  --timer-font: 'Prata-Regular';
}